$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import '../bower_components/sass-bootstrap/lib/bootstrap';

@import '../bower_components/jquery-ui-amd/jquery-ui-1.10.0/themes/base/jquery-ui.css';

@import '../scripts/vendor/bootstrap.extensions.css';

@import '../scripts/vendor/chosen/chosen.css';
@import '../scripts/vendor/jquery-slider/css/jquery.slider.min.css';

@import '../scripts/recline-extensions/nvd3-extensions/nv.d3.css';

@import '../scripts/vendor/xcharts/xcharts.css';

@import '../scripts/vendor/datepicker/1.0.0/css/datepicker/base.css';
@import '../scripts/vendor/datepicker/1.0.0/css/DateRangesWidget/base.css';

@import '../scripts/vendor/bootstrap-multiselect/bootstrap-multiselect.css';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}