.s-table div.s-td.slick-cell {
	text-align: center;
	border-right: 1px dotted grey;
	border-bottom: 1px dotted grey;
}

#grid1, #ageSelect {
	background-color: #eee;
}


#grid2, #countrySelect, #genderSelect, #sortFieldSelect {
	background-color: lightyellow;
}
