.s-table div.s-td.slick-cell {
	text-align: center;
	border-right: 1px dotted grey;
	border-bottom: 1px dotted grey;
}

/* this is for the inner chart cells */
.s-table div.s-td.slick-cell-left { 
	border-right: 1px dotted grey;
	border-bottom: 1px dotted grey;
}