#chart1 {
	margin-left: -50px;
}

#legend {
	border: 1px solid black;
	box-shadow: 5px 5px 3px #888888;	
}

.legend_item{
	margin-left:15px;
	font-size:90%;
	float:left;		
	cursor:pointer;
}
.legend_item_value{
	height: 6px;
	width: 6px;
	border: 1px solid;
	float: left;
	margin-top: 5px;
	margin-right: 3px;
	border-radius: 10px;
}

.s-table div.s-td.slick-cell {
	text-align: center;
	border-right: 1px dotted grey;
	border-bottom: 1px dotted grey;
}