


<!-- DEPS FOR MODEL AND DATA EXTENSIONS -->

<!-- VIRTUAL MODEL -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/crossfilter-1.1.0.min.js"></script>

<!-- COLORS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/chroma.min.js"></script>



<!-- DEPS FOR VIEWS EXTENSIONS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/bootstrap-2.1.1.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/bootstrap-2.1.1.min.css" />

<!-- GENERIC FILTERS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/date.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/jquery.slider-2.1.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/jquery.slider-2.1.min.css" />

<!-- GENERIC AND CURRENT FILTER -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/chosen.jquery-0.9.8.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/chosen.css" />

<!-- D3 -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/d3.v2.min.js"></script>

<!-- DATEPICKER -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/datepicker/datepicker.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/datepicker/DateRange.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/datepicker/DateRangesWidget.js"></script>

<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/datepicker/datepicker-base.css" />
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/datepicker/DateRangesWidget-base.css" />

<!-- NVD3 -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/nv.d3.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/nv.d3.css" />

<!-- KARTOGRAPH -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/raphael-2.1.0-min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/kartograph.min.js"></script>

<!-- RICKSHAW -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/rickshaw-1.1.2.min.js"></script>


<!-- SLICKGRID-GRAPH-SELECTION -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/jquery.event.drag-2.0.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.core.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.grid.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.editors.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.formatters.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.cellrangeselector.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.cellselectionmodel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.rowselectionmodel.js"></script>

<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/slick.grid.css" />

<!-- XCHARTS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/xcharts.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/xcharts.min.css" />

