<!-- BASE RECLINE DEP -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/underscore-1.4.2.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/underscore.deferred-0.4.0.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/backbone-0.9.2.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/mustache-0.5.0.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/jquery-1.8.2.js"></script>


<!-- DEPS FOR MODEL AND DATA EXTENSIONS -->

<!-- VIRTUAL MODEL -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/crossfilter-1.1.0.js"></script>

<!-- COLORS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/chroma.min.js"></script>



<!-- DEPS FOR VIEWS EXTENSIONS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/bootstrap-1.1.1.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/bootstrap.min.css" />

<!-- GENERIC FILTERS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/date.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/jquery.slider.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/jquery.slider.min.css" />

<!-- GENERIC AND CURRENT FILTER -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/chosen.css" />

<!-- D3 -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/d3.v3.js"></script>

<!-- DATEPICKER -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/datepicker/datepicker.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/datepicker/DateRange.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/datepicker/DateRangesWidget.js"></script>

<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/datepicker/datepicker-base.css" />
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/datepicker/DateRangesWidget-base.css" />

<!-- NVD3 -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/nv.d3.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/nv.d3.css" />

<!-- KARTOGRAPH -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/raphael-min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/kartograph.min.js"></script>

<!-- RICKSHAW -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/rickshaw.js"></script>


<!-- SLICKGRID-GRAPH-SELECTION -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.grid.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.core.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.editors.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.formatters.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.cellrangeselector.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.cellselectionmodel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/slickgrid/slick.rowselectionmodel.js"></script>

<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/slick.grid.css" />

<!-- XCHARTS -->
<script type="text/javascript" src="{{site.baseurl}}vendor/scripts/xcharts.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}vendor/styles/xcharts.css" />

